body {
	font-family: '"Segoe UI", Arial, sans-serif;
	background-image:url(../images/backg.jpg);
}

/*Estilos header*/
.twitter{
	background: #6AD2F3;
	width: 100%;
	height: 10%;
}

.title_nav {
	color: white;
	text-align: center;
}

.twitter h1 {
	text-align: center;
}

/*Estilos cover - portada*/
.cover {
		background-image: url(../images/backg.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 60em;
}

/*Caja reto - Versión desktop*/
/*Caja general -total*/
.blue_bird {
	padding-top: 10em;
	padding-right: 70em;
}

/*Caja texto*/
.total1{
	margin-left: -6em;
}

.reto {
	background-color: #FFF;
	padding: 4em;
	margin-right: 3em;
	display: inline-block;
}

 h2 {
 	font-weight: bolder;
 }

 .reto h2{
 	padding-bottom: 1em;
 }

.reto p{
	font-size: 20px;
}

.reto p strong{
	color: #000;
}

/*Caja twitter - Versión desktop*/
/*Caja general -twitter_box-*/
	.twitter_box {
	margin-top: -1.4em;
	display: inline-block;
	}

	.total2 {
	background-color: #FFF;
	padding: 1.6em;
	margin-right: 1em;
	margin-top: 1.4em;
}

/*Caja texto*/
.tweet {
	background-color: #FFF;
	padding: 1.2em;
	margin-right: 3em;
}

.twitear {
	margin-top:5px;
}